services:
  cert-generator-kafka:
    image: alpine:3.20
    container_name: cert-generator-kafka
    command: ["/bin/sh", "-c", "/scripts/generate-kafka-certs.sh"]
    volumes:
      - ../kafka/generated/certs:/certs
      - ./scripts/generate-kafka-certs.sh:/scripts/generate-kafka-certs.sh:ro
    environment:
      CA_CN: "MyOrg Root CA"
      ORG_NAME: "MyOrg"
      COUNTRY: "EU"
      STATE: "Test"
      LOCALITY: "Test"
      KAFKA_CONTROLLER_1_KEYSTORE_PASSWORD:
      KAFKA_CONTROLLER_2_KEYSTORE_PASSWORD:
      KAFKA_CONTROLLER_3_KEYSTORE_PASSWORD:
      KAFKA_BROKER_1_KEYSTORE_PASSWORD:
      KAFKA_BROKER_2_KEYSTORE_PASSWORD:
      KAFKA_BROKER_3_KEYSTORE_PASSWORD:
      KAFKA_CONFL_SCHEMA_REGISTRY_KEYSTORE_PASSWORD:
      KAFKA_CONNECT_KEYSTORE_PASSWORD:
      KAFDROP_CONNECT_KEYSTORE_PASSWORD:
      KAFKA_UI_CONNECT_KEYSTORE_PASSWORD:
      TRUSTSTORE_PASSWORD:
    # Run manually: docker compose run --rm cert-generator-kafka
  cert-generator-keycloak:
    image: alpine:3.20
    container_name: cert-generator-keycloak
    command: [ "/bin/sh", "-c", "/scripts/generate-keycloak-certs.sh" ]
    volumes:
      - ../keycloak/generated/certs:/certs
      - ./scripts/generate-keycloak-certs.sh:/scripts/generate-keycloak-certs.sh:ro
    environment:
      CA_CN: "MyOrg Root CA"
      ORG_NAME: "MyOrg"
      COUNTRY: "EU"
      STATE: "Test"
      LOCALITY: "Test"
      TRUSTSTORE_PASSWORD:
    # Run manually: docker compose run --rm cert-generator-keycloak
  cert-generator-opensearch:
    image: alpine:3.20
    container_name: cert-generator-opensearch
    command: [ "/bin/sh", "-c", "/scripts/generate-opensearch-certs.sh" ]
    volumes:
      - ../opensearch/generated/certs:/certs
      - ./scripts/generate-opensearch-certs.sh:/scripts/generate-opensearch-certs.sh:ro
    environment:
      CA_CN: "MyOrg Root CA"
      ORG_NAME: "MyOrg"
      COUNTRY: "EU"
      STATE: "Test"
      LOCALITY: "Test"
      TRUSTSTORE_PASSWORD:
    # Run manually: docker compose run --rm cert-generator-opensearch
